.mat-mdc-card {
  position: relative;
  padding: 21px;
  border: solid 1px;
  border-color: #14a44d;
}

mat-card-title.mat-mdc-card-title {
    color: #14a44d;
}
.login-btn {
  background-color: #14a44d;
}
