<mat-card class="form-card">
  <mat-card-header>
    <mat-card-title> Add new recipe </mat-card-title>
    <mat-card-subtitle>Please provide info</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form class="add-form" [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <mat-label>Title</mat-label>
        <input
          matInput
          placeholder="Enter Title"
          required
          type="text"
          formControlName="title"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f['title'].errors }"
        />
      </mat-form-field>
      <!-- <div *ngIf="submitted && f['title'].errors" class="invalid-feedback">
        <div *ngIf="f['title'].errors['required']">title is required</div>
      </div> -->
      <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea
          matInput
          placeholder="Enter Description"
          type="text"
          formControlName="description"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f['description'].errors }"
        ></textarea>
      </mat-form-field>

      <label class="upload-button">
        <input
          type="file"
          (change)="handleFileInput($event)"
          accept="image/*"
        />
        <mat-icon>cloud_upload</mat-icon>
        <span>Upload Image</span>
      </label>

      <div class="form-group">
        <div class="preview" *ngIf="preview && preview !== null">
          <img
            [src]="preview"
            class="recipe-preview-image"
            [alt]="form.value.name"
          />
        </div>
      </div>

      <mat-form-field>
        <mat-label>Select</mat-label>
        <mat-select multiple (selectionChange)="changeIngredients($event)">
          <mat-option *ngFor="let el of allIngredients" [value]="el">{{
            el.title
          }}</mat-option>
        </mat-select>
      </mat-form-field>
      <div *ngFor="let ingredient of form.value.ingredients">
        <div class="mat-h3 mat-subheading-2 ingredient mat-mdc-card-subtitle">
          {{ getTitle(ingredient) }}
        </div>
        <mat-form-field>
          <mat-label>quantity</mat-label>
          <input
            matInput
            placeholder="Enter quantity"
            required
            name="quantity"
            type="number"
            value="{{ingredient.quantity}}"
            (change)="changeIngredients($event, ingredient)"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>unit</mat-label>
          <input
            matInput
            placeholder="Enter unit"
            required
            type="text"
            name="unit"
            value="{{ ingredient.unit }}"
            class="form-control"
            (change)="changeIngredients($event, ingredient)"
          />
        </mat-form-field>
      </div>
      <mat-form-field>
        <mat-label>Instructions</mat-label>
        <textarea
          matInput
          placeholder="Enter instructions"
          formControlName="instructions"
          class="form-control"
        ></textarea>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="submitForm()">
      Submit
    </button>
  </mat-card-actions>
</mat-card>
