.card-grid {
    max-width: 800px;
    margin: 0 auto;
  }

.mat-toolbar-single-row {
    justify-content: space-between;
    margin-bottom: 50px;
}

.header-text {
    font-size: 24px;
    font-weight: bold;
  }

.search { 
    width: 50rem;
    margin-top: 19px;
}